public net.minecraft.world.gen.trunkplacer.TrunkPlacerType <init>(Lcom/mojang/serialization/Codec;)V

public net.minecraft.world.gen.trunkplacer.AbstractTrunkPlacer field_236906_d_
public net.minecraft.world.gen.trunkplacer.AbstractTrunkPlacer field_236907_e_
public net.minecraft.world.gen.trunkplacer.AbstractTrunkPlacer field_236908_f_

# Used for FeatureUtil's Bresenham Branches
public net.minecraft.world.gen.trunkplacer.AbstractTrunkPlacer func_236911_a_(Lnet/minecraft/world/gen/IWorldGenerationReader;Ljava/util/Random;Lnet/minecraft/util/math/BlockPos;Ljava/util/Set;Lnet/minecraft/util/math/MutableBoundingBox;Lnet/minecraft/world/gen/feature/BaseTreeFeatureConfig;)Z # func_236911_a_
