public net.minecraft.world.gen.trunkplacer.TrunkPlacerType <init>(Lcom/mojang/serialization/Codec;)V

public net.minecraft.world.gen.trunkplacer.AbstractTrunkPlacer field_236906_d_
public net.minecraft.world.gen.trunkplacer.AbstractTrunkPlacer field_236907_e_
public net.minecraft.world.gen.trunkplacer.AbstractTrunkPlacer field_236908_f_

public net.minecraft.client.renderer.RenderState * # Everything.
public net.minecraft.village.PointOfInterestType * # Everything

public-f net.minecraft.world.gen.feature.structure.Structure field_236384_t_ #LAND_TRANSFORMING_STRUCTURES
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236191_b_ #DEFAULT_STRUCTURE_CONFIGS
public-f net.minecraft.world.gen.FlatGenerationSettings field_202247_j #STRUCTURES
public-f net.minecraft.world.gen.settings.DimensionStructuresSettings field_236193_d_ #structures

# Used for FeatureUtil's Bresenham Branches
public net.minecraft.world.gen.trunkplacer.AbstractTrunkPlacer func_236911_a_(Lnet/minecraft/world/gen/IWorldGenerationReader;Ljava/util/Random;Lnet/minecraft/util/math/BlockPos;Ljava/util/Set;Lnet/minecraft/util/math/MutableBoundingBox;Lnet/minecraft/world/gen/feature/BaseTreeFeatureConfig;)Z # func_236911_a_
